#section-1 {
  grid-area: sec-1;
  /* background-color: orange; */
  background-image: url("../img/me-bike.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

#section-1 p {
  width: 60%;
  background-color: white;
  opacity: 0.5;
  margin: 14em auto;
}
