/* import each css file */
@import url("./header.css");
@import url("./section-1.css");
@import url("./section-2.css");
@import url("./portfolio.css");
@import url("./contact.css");
@import url("./footer.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  /* height: 100em; */
  display: grid;
  grid-template-areas:
    "head head head head"
    "sec-1 sec-1 sec-1 sec-1"
    "sec-2 sec-2 sec-2 sec-2"
    "contact contact portfo portfo"
    "contact contact portfo portfo"
    "footer footer footer footer";
}
